pkgbase = cherry-studio-bin
	pkgdesc = 🍒 Cherry Studio is a desktop client that supports for multiple LLM providers
	pkgver = 0.8.10
	pkgrel = 1
	url = https://github.com/kangfenmao/cherry-studio
	arch = x86_64
	license = custom
	conflicts = cherry-studio
	options = !strip
	options = !debug
	source = cherry-studio-0.8.10.AppImage::https://github.com/kangfenmao/cherry-studio/releases/download/v0.8.10/Cherry-Studio-0.8.10-x86_64.AppImage
	source = cherry-studio.desktop
	source = cherry-studio.png
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = cherry-studio-bin
