name: Bump version

on:
  workflow_dispatch:
    inputs:
      pkgver:
        description: 'The pkgver to bump'
        required: true
        type: string
      pkgrel:
        description: 'The pkgrel to bump'
        required: true
        type: number
        default: 1
jobs:
  bump_version:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm base-devel jq git
      - name: Update PKGBUILD version
        uses: heyhusen/archlinux-package-action@v2
        with:
          pkgver: ${{ inputs.pkgver }}
          pkgrel: ${{ inputs.pkgrel }}
          flags: ''
          srcinfo: false
          updpkgsums: false
      - name: Calculate checksums and generate .SRCINFO
        run: |
          # Download the AppImage first
          curl -L -o "cherry-studio-${{ inputs.pkgver }}.AppImage" "https://github.com/cherryHQ/cherry-studio/releases/download/v${{ inputs.pkgver }}/Cherry-Studio-${{ inputs.pkgver }}-x86_64.AppImage"

          # Generate checksums using makepkg
          makepkg -g >> PKGBUILD

          # Generate .SRCINFO using makepkg
          makepkg --printsrcinfo > .SRCINFO

          # Add to git
          git add PKGBUILD .SRCINFO
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "chore: bump version to ${{ inputs.pkgver }}"
          title: "chore: bump version to ${{ inputs.pkgver }}"
          body: "Update package version to ${{ inputs.pkgver }}"
          branch: "bump-version-${{ inputs.pkgver }}"
          delete-branch: true
